@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: 321px) and (max-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: 1024px) { @content; }
  }
}

body{
	 @include respond-to(handhelds){
	 &:before {
	background: #ffff00;   
  width: 96%;   
  padding: 1em 2%;   
  float: left;   
  clear: both;   
  font-size: 14px;   
  font-size: .875rem;      
  content: "Handheld";
  	}
  }
  @include respond-to(medium-screens){
	 &:before {
	background: #00ff34;   
  width: 96%;   
  padding: 1em 2%;   
  float: left;   
  clear: both;   
  font-size: 14px;   
  font-size: .875rem;      
  content: "Medium Screen";
		}
	}
}