$full-site-width:1010px;
$col:100px;
$gutter:30px;
$baseline:11px;
$accent-color: #3dc5ff;
$accent-color-2:#f7f7f7;
$text-color:#444444;
$text-color-2:#cccccc;
$font-premier:"brandon-grotesque",sans-serif;
$font-premier-light:300;
$font-premier-regular:400;
$font-premier-medium:500;
$font-premier-bold:700;
footer{
	width: 100%;
	min-width: $full-site-width;
	background-color: $accent-color-2;
	padding-top: $baseline * 5;
	padding-bottom: $baseline * 6;
	border-bottom: $accent-color solid $baseline * 4;
	font-size: 18px;
	line-height: 30px;
	font-family: $font-premier;
	img{
		display: block;
	}
	h4{
		margin-bottom: $baseline * 3.363636;
	}
	p{
	font-size: 18px;	
	}
	ul li p{
		margin-bottom: $baseline * 2
	}
	address{
		margin-bottom: $baseline * 3.363636;
	}
	a{
		text-decoration: none;
	}
}
address span a{
	color: #444444;	
}
